/* .top-nav-ul{
  display:flex;
  list-style: none;
  justify-content: space-between;
  color: white;
}
.top-nav-ul li{
  width: 100%;
  color: #ffffff;
  font-size:20px;
  text-decoration: none;
}

.user-profile{
  margin-left:50%;
}

.top-navbar{
  background-color: slateblue;
  padding-top:1%;
} */
