@media(max-width:1400px){
    .formlogin{
        max-width: 30%;
        margin: auto;
        margin-top: 5%;
        padding:10px;
        padding-top: 20px;
        opacity: 0.9;
        border:1px solid rgb(106, 90, 200);;
        border-radius:7px;
        box-shadow: 2px 5px 4px slateblue;
    }
    }


@media(max-width:962px){
    .formlogin{
        max-width: 40%;
        margin: auto;
        margin-top: 5%;
        padding:10px;
        padding-top: 15px;
        opacity: 0.9;
        border:1px solid rgb(106, 90, 200);;
        border-radius:7px;
        box-shadow: 2px 5px 4px slateblue;
    
    }
    }

@media(max-width:661px) {
    .formlogin{
        max-width: 70%;
        margin: auto;
        margin-top: 5%;
        padding:10px;
        padding-top: 10px;
        opacity: 0.9;
        border:1px solid rgb(106, 90, 200);
        border-radius:7px;
        box-shadow: 2px 5px 4px slateblue;
    
    }
}



label{
    font-size: 15px;
}
input[type="text"],input[type="password"]{
    
    font-size: 15px;
}

.form-group{
    margin-bottom: 15px;
}
.logbutton{
    
    font-size: 150%;
    background-color: slateblue;
    color: white;
}





